html {
    overflow: hidden;
}
.minesweeper {
    text-align: center;
    color: rgba(229, 124, 0, 1);
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.45);
    user-select: none;
}
.game-box {
    margin: 10px;
}
.mines-row {
    width: 100%;
    margin: 3px;
}
.mines-col {
    display: inline-block;
    margin: 0;
    border: 1px black solid;
    background-color: rgba(255, 255, 255, 1);
    width: 25px;
    height: 25px;
    line-height: 25px;
    cursor: default;
}
.mines-col:hover {
    background-color: rgba(255, 255, 255, 1);
}

.mines-boom {
    display: inline-block;
    background-image: none;
    background-size: cover;
}
.mines-cell {
    display: inline-block;
    width: 5px;
    heigth: 5px;
    opacity: 0;
}
.mask {
    background-color: rgba(239, 179, 203, 1);
}
.mask:hover {
    background-color: rgba(229, 124, 0, 1);
}

.click {
    background-color: white;
}
.mines-flag {
    display: inline-block;
    float: right;
}
.img-flag {
    width: 15px;
    heigth: 15px;
}
.hide {
    display: none;
}
