html {
    overflow: hidden;
}
.minesweeper {
    text-align: center;
    color: rgba(229,124,0,1);
    border-radius: 10px;
    background-color: rgba(0,0,0,0.45);
}
.game-box {
    margin: 10px;
}
.mines-row {
    width: 100%;
    margin: 3px;
}
.mines-col {
    display: inline-block;
    margin: 0;
    border: 1px black solid;
    width: 30px;
    height: 30px;
    line-height: 30px;
    cursor: default;
}
.mines-col span {
    opacity: 0;
}
.img-boom {
    background-image: url(minesweeper_pics/boom.svg);
    background-size: cover;
}

.mask {
    background-color: rgba(239,179,203,0.9);
}
.hover {
    background-color: rgba(229,124,0,1);
}
.click {
    background-color: white;
}
.img-flag {
    width: 15px;
    heigth: 15px;
}
.hide {
    display: none;
}
