@media screen and (max-width: 600px) {
    body {
        margin-left: 0;
    }
    div {
        margin-left: 0;
    }
}

body {
    background-image: url(/bg2.jpg);
    background-size: cover;
}
.container {
    position: relative;
    margin: 10px;
    text-align: center;
}
.fengxing-vertical-center {
    position: absolute;
    top: 35%;
    transform: translateY(-35%);
}
.fengxing-horizontal-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.fengxing-float-left {
    float: left;
}
.fengxing-clear::after {
    content: '';
    display: block;
    clear: both;
}
.weather-display {
    margin: 10px;
    display: inline-block;
}
.weather-box {
    margin: 8px 0;
    padding: 8px;
    border-radius: 5px;
    color: rgba(229,124,0,1);
    background: rgba(0,0,0,0.7);
}
.content-box {
    margin: 10px;
    padding: 25px;
    border-radius: 10px;
    background: rgba(255,255,255,0.45);
}
