body {
    background-image: url(/pics/bg2.webp);
    background-size: cover;
    /* background-color: #e6dec6; */
}
.container {
    position: relative;
    margin: 10px;
}
.content-wapper {
    border-radius: 15px;
    text-align: center;
    background: rgba(0,0,0,0.45);
    padding: 0 20px;
}
.fengxing-vertical-center {
    position: absolute;
    top: 35%;
    transform: translateY(-35%);
}
.fengxing-horizontal-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.fengxing-float-left {
    float: left;
}
.fengxing-clear::after {
    content: '';
    display: block;
    clear: both;
}
.back {
    font-size: 22px;
}
.back a {
    text-decoration: none;
    color: rgba(239,179,203,0.7)
}
.back a:hover {
    text-decoration: underline;
    color: rgba(255,255,255,1);
}
.content-wapper h1 {
    color: rgba(255,255,255,1)
}
