html {
    overflow: hidden;
}

.float-clear::after {
    content: '';
    display: block;
    clear: both;
}

.player-wrapper {
    border-radius: 15px;
    margin-top: 10px;
    padding: 0 1.8em;
    width: 20em;
    background: rgba(0, 0, 0, 0.75);
}

audio {
    /* display: none; */
}
.canvas {
    border-radius: 15px;
    margin-top: 10px;
    width: 70%;
    height: 100px;
    z-index: -1;
}
.icon {
   width: 1.5em; height: 1.5em;
   vertical-align: -0.15em;
   fill: currentColor;
   overflow: hidden;
}


.progress {
    position: relative;
    width: 100%;
    height: 5px;
    margin-bottom: 15px;
}
.progress .bar {
    position: relative;
    width: 0%;
    height: 5px;
    background: rgba(239, 179, 203, 0.9);
}


.information {
    display: block;
    font-size: 1em;
    color: rgba(239, 179, 203, 0.9);
}
.song-name {
    display: inline-block;
}

.time {
    display: inline-block;
}


.controller {
    display: block;
    font-size: 1em;
    color: rgba(239, 179, 203, 0.9);
}
.controller div {
    display: inline-block;
    cursor: pointer;
}

.song-list {
    display: block;
    position: relative;
    margin-top: 1em;
    font-size: 1em;
    color: rgba(229, 124, 0, 1);
}

.song-wrapper {
    display: block;
    margin: 3px;
}
.song {
    padding: 5px;
    display: inline-block;
    cursor: pointer;
}
.song:hover {
    animation: songAnim 1s infinite;
}
.selected {
    color: rgba(239, 179, 203, 0.9);
    border-bottom: 1px solid rgba(239, 179, 203, 0.9);
}
.selected:hover {
    animation: selectedAnim 1s infinite;
}

.loader-box {
    border-radius: 15px;
    margin-top: 10px;
    padding: 0 1.8em;
    width: 20em;
    height: 20em;
    background: rgba(0, 0, 0, 0.9);
}

.loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: rgba(239, 179, 203, 1);
    animation: loaderAnim 2s linear infinite;
}
.loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: rgba(255, 255, 255, 0.8);
    animation: loaderAnim 3s linear infinite;
}
.loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: rgba(229, 124, 0, 1);
    animation: loaderAnim 1.5s linear infinite;
}
.hide {
    display: none;
}
@keyframes songAnim {
    0% {
        color: rgba(239, 179, 203, 0.9);
    }
    15% {
        color: rgba(229, 124, 0, 1);
    }
    54% {
        color: rgba(239, 179, 203, 0.9);
    }
    100% {
        color: rgba(229, 124, 0, 1);
    }
}

@keyframes selectedAnim {
    0% {
        color: rgba(229, 124, 0, 1);
        border-bottom: 1px solid rgba(229, 124, 0, 1);
    }
    15% {
        color: rgba(239, 179, 203, 0.9);
        border-bottom: 1px solid rgba(239, 179, 203, 0.9);
    }
    54% {
        color: rgba(229, 124, 0, 1);
        border-bottom: 1px solid rgba(229, 124, 0, 1);
    }
    100% {
        color: rgba(239, 179, 203, 0.9);
        border-bottom: 1px solid rgba(239, 179, 203, 0.9);
    }
}

@keyframes loaderAnim {
    0%   {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
